body {
  background-color: f8f9f9;
}
.spacer {
  min-width: 20px;
}
.inlineResponsiveComponents {
  display: inline-flex;
  flex-direction: row;
}

.searchComponent,
.inlineResponsiveComponents {
  padding: 10px;
}

h3 {
  font-size: 30px;
  padding: 10px;
}

.small-img {
  width: 300px;
}
.cardHeader {
  font-size: 30px;
  margin: 15px;
  padding-top: 10px;
}

/* START Search component */
.twitterSearch {
  height: 30px;
  border-color: lightgray;
  border-radius: 5px;
}
.twitterSearch:focus {
  border-color: darkgrey;
  outline: none;
}
/* END Search component */

/* START HashtagFilter component */
.hashtagComponentCard {
  width: 300px;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
}
.hashtagButton,
.hashtagButtonDisabled,
.hashtagButton:focus .hashtagButton:active {
  color: #5790c1;
  background-color: #e7f3fa;
  border-color: #e7f3fa;
  min-height: 40px;
  font-size: 18px;
  border-radius: 30px;
  margin: 5px;
}

.hashtagButtonDisabled {
  border-color: transparent;
}

.hashtagButton:focus,
.hashtagButton:active {
  border-color: darkgrey;
  outline: none;
}
/* END HashtagFilter component */

/* START styles for Results component */
.tweetResultsCard {
  max-width: 800px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tweetUserName {
  font-size: 15px;
  font-weight: 700;
}

.tweetText {
  font-size: 19px;
  font-weight: 400;
}

.tweetUserImage {
  float: left;
}

.rowWhite,
.rowGrey {
  padding: 20px;
  padding-top: 10px;
}

.rowWhite {
  background-color: white;
}
.rowGrey {
  background-color: #f8f9f9;
}

.tweetDetails {
  padding-top: 0px;
  padding-left: 60px;
}
/* END styles for Results component */
