h1 {
  font-size: 30px;
}

.small-img {
  width: 300px;
}
.cardHeader {
  font-size: 30px;
  margin: 15px;
}
.twitterSearch {
  height: 30px;
  border-color: lightgray;
  border-radius: 5px;
}
.twitterSearch:focus {
  border-color: darkgrey;
  outline: none;
}
.hashtagComponentCard {
  width: 300px;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
}
.hashtagButton,
.hashtagButton:focus .hashtagButton:active {
  color: #5790c1;
  background-color: #e7f3fa;
  border-color: #e7f3fa;
  min-height: 40px;
  font-size: 18px;
  border-radius: 30px;
  margin: 5px;
}

.hashtagButton:focus,
.hashtagButton:active {
  border-color: darkgrey;
  outline: none;
}
